
<form name="formFrota" id="formFrota">
    <legend>Cadastro Veículo</legend><br>

    <label for="marca">Marca </label>
    <input type="text" id="marca" name="marca" placeholder="Digite a marca" required #marca>

    <label for="modelo">Modelo </label>
    <input type="text" id="modelo" name="modelo" placeholder="Digite o modelo" required>

    <label for="anofabricacao">Ano Fabricação </label>
    <input type="number" id="anofabricacao" name="anofabricacao" placeholder="Digite o ano de fabricação" value="2000" required>

    <label for="anoModelo">Ano Modelo </label>
    <input type="number" id="anoModelo" name="anoModelo" placeholder="Digite o ano do modelo" value="2000" required>

    <label for="motor">Motor </label>
    <input type="text" id="motor" name="motor" placeholder="Digite a potência do motor" required>

    <label for="capacidade">Capacidade </label>
    <input type="text" id="capacidade" name="capacidade" placeholder="Capacidade do tanque" required>

    <label for="cor">Cor </label>
    <input type="text" id="cor" name="cor" placeholder="Digite a cor" required>

    <label for="placa">Placa </label>
    <input type="text" id="placa" name="placa" placeholder="Digite a placa" required>

    <label for="renavam">Renavam </label>
    <input type="text" id="renavam" name="renavam" placeholder="Digite o renavam" required>

    <label for="combustivel">Combustível </label>
    <select id="combustivel" name="combustivel">
        <option value="gasolina">Gasolina</option>
        <option value="alcool">Álcool</option>
        <option value="flex">Flex</option>
        <option value="diesel">Diesel</option>
    </select>

    <input type="submit" id="cadastrar" name="cadastrar" type="button" value="Cadastrar" />

</form>

