<h1>Bem-vindo ao Turistando!</h1>
<p>Explore as opções disponíveis no menu.</p>
<ul>
  <nav>
  <ul>
    <li><a routerLink="/cadastrar-veiculo">Cadastrar Veiculo</a></li>
    <li><a routerLink="/registrar-abastecimento">Registrar Abastecimento</a></li>
    <li><a routerLink="/registrar-despesa">Registrar Despesa</a></li>
    <li><a routerLink="/calcular-consumo-medio">Calcular Consumo Médio</a></li>
    <li><a routerLink="/listar-veiculos">Listar Veículos</a></li>
    <li><a routerLink="/relatorio">Relatório</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
