
<form name = "cadVeiculo">
  <h1>Insira os dados do Veículo</h1>

  <input type="text" id = "placaid" placeholder=" Placa do Veículo" required="required" name="placa" #placa/>
  <label for="placa">Placa</label>

  <input type="text" id = "modeloid" placeholder=" Modelo do Veículo" required="required" name="modelo"/>
  <label for="modelo">Modelo</label>

  <input type="number" min="1900" max="2099" value="2016" step="1" id = "anomodeloid" placeholder=" Ano do Modelo do Veículo" required="required" name="anomodelo"/>
  <label for="anomodelo">Ano do Modelo</label>

  <input type="number" min="1900" max="2099" value="2016" step="1" id = "anofabricacaoid" placeholder=" Ano de fabricação do Veículo" required="required" name="anofabricacao"/>
  <label for="anofabricacao">Ano de fabricação do Veículo</label>

  <input type="submit"  (click)="displayMessage(placa.value)" value="Enviar"/>  
</form>

<hr>

<form action="Calculo">

  <input type="text" id = "numAid" placeholder="Valor" required="required" name="numA" #numA/> +
  <input type="text" id = "numBid" placeholder="Valor" required="required" name="numB" #numB/>= 
  <p id="resultado"></p>
 
  <button type="submit" id="resid" name = "res" (click)="soma(numA.value, numB.value)" onclick="document.getElementById('resultado').innerHTML" >Calcular</button>
</form>




